.App {
  text-align: center;
  display: grid;
  grid-column: 1fr 1fr;
  grid-gap: 20px;
}

.title{
  height: 10vh;
  width: 100vw;
  font-size: large;
  color: #056b87;
  display: flex;
  justify-content: center;
  align-items: center;
}